body {
    margin: 0;
    font-family: sans-serif;
}

main {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.loading, .loading:after {
    display: none;
}

#map {
    height: 100%;
}

header {
    position: fixed;
    background-color: rgba(221, 221, 221, 0.9);
    color: #1f1f1f;
    border: solid #636363 1px;
    border-radius: 3px;
    padding: 20px;
    z-index: 100;
    box-shadow: -2px -2px 2px 1px rgba(139, 139, 139, 0.2);
}

header {
    top: 10px;
    left: 10px;
    margin: 0 370px 0 0;
}
